body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  background-color: #222;
  color: white;
  padding: 15px;
  margin: 0;
}

.container {
  padding: 20px;
}

/* PRODUCTS */
.products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: white;
  width: 220px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.card h3 {
  margin: 10px 0;
}

.card button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background-color: #218838;
}

/* CART */
.cart {
  background: white;
  padding: 15px;
  margin-top: 30px;
  border-radius: 8px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart button {
  background-color: red;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
}

/* CHECKOUT */
.checkout {
  background: white;
  padding: 20px;
  max-width: 400px;
  margin: 30px auto;
  border-radius: 8px;
}

.checkout input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.checkout button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
